<html lang="en">  
    <head>   
        <title>Advanced Templating</title>  
    </head>  
    <body>    
        {{>header}} <!--include the header component-->
        <p>I'm a very cool guy</p>    
        {{>footer}} <!-- include the footer component -->
    </body>
</html>